body {
background-image: linear-gradient(315deg, darkblue 8%, mediumpurple 35%, lavender 100%);
}
h1 {
  color:antiquewhite;
  font-family: 'Mukta', sans-serif;
  text-align:center;
  font-size:64px;
  transition:all 200ms;
}
h2 {
  color:antiquewhite;
  font-family: 'Mukta', sans-serif;
  text-align:center;
  font-size:48px;
  transition:all 200ms;
}
h3 {
color:antiquewhite;
  font-family: 'Mukta', sans-serif;
  text-align:center;
  font-size:38px;
  transition:all 200ms;
}
div {
  font-family: 'Arimo', sans-serif;
  font-size:30px;
  color:antiquewhite;
  text-align:center;
}
a {
  font-family: 'Arimo', sans-serif;
  font-size:30px;
  color:blue;
  text-decoration:none;
  display:block;
  transition:all 200ms;
  font-weight:bolder;
}
a:hover {
  transform:translate(0, -4px);
          filter:drop-shadow(6px 6px 2px lightslategray);
  color:pink;
}
a:active {
  color:antiquewhite;
}
a.scripture {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
  color:inherit;
  transition:all 400ms;
}
a.scripture:hover {
  transform:translate(0px, -4px);
  filter:drop-shadow(6px 6px 2px lightgray);
  color:inherit;
  background-color:inherit;
}
iframe {
  transition:all 600ms;
  margin:10px 10px 10px 10px;
  display:inline;
}
iframe:hover {
  transform:translate(0, -8px);
  filter:drop-shadow(8px 8px 2px lightslategray);
}
.html5-video-player {
  font-family: 'Arimo', sans-serif;
}
scripture {
            border-top:solid 2px antiquewhite;
            border-left:solid 4px lightskyblue;
            border-bottom:solid 2px antiquewhite;
            border-right:solid 2px antiquewhite;
            border-radius:0px 6px 6px 0px;
            font-family:'Times New Roman', Times, serif;
            font-size:24px;
            line-height:110%;
            margin:10px auto 10px auto;
            padding:5px;
            width:65%;
            text-align:center;
            color:black;
            background-color:antiquewhite;
            display:block;
            transition:all 400ms;
        }
scripture:hover {
            transform:translate(0px, -10px);
            filter:drop-shadow(6px 6px 2px lightgray);
            color:#4b67cc;
            background-color:#73c9ff;
}
scripture:active {
  color:#91e3e3;
  background-color:darkslateblue;
  transform:translate(0px, -2px);
  filter:drop-shadow(12px 12px 2px lightgray);
  transition:all 150ms;
}
img {
  float:left;
  width:300px;
}
#tf2 {
  font-family: 'TF2 Build', sans-serif;
  font-weight:400;
}
.svg {
  width:80px;
  position: relative;
  left: -270px;
  transition: filter 400ms;
}
.svg:hover {
  filter:invert(100%) drop-shadow(4px 4px 2px gray);
}
ul.flip-panel li.flip-text {
    border-top: solid 2px antiquewhite;
    border-left: solid 4px lightskyblue;
    border-bottom: solid 2px antiquewhite;
    border-right: solid 2px antiquewhite;
    border-radius: 0px 6px 6px 0px;
    margin: 24px auto 24px auto;
    padding: 20px;
    width: 55%;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    background-color: antiquewhite;
    font-size: 32px;
    transition: transform 0.4s, background-color 1s, color 1.25s, filter 0.4s;
    display: block;
}
ul.flip-panel:hover li.flip-text {
      transform: scale(110%) translate(0px, -11px);
      color:#4b67cc;
      background-color:#73c9ff;
      filter:drop-shadow(10px 10px 2px lightgray);
    }
ul.flip-panel:active li.flip-text {
      color:#91e3e3;
      background-color:darkslateblue;
      filter:drop-shadow(8px 8px 2px lightgray);
      transform:translate(0px, -6px);
      transition:all 0.15s;
}
li.flip-text a {
  transition:all 400ms;
}
li.flip-text:hover a {
  color:mediumslateblue;
  filter:none;
  transform:none;
}
li.flip-text:active a {
  color:antiquewhite;
  transition:color 150ms, background-color 150ms;
}
div.skew {
      border-top:solid 2px antiquewhite;
      border-left:solid 4px lightskyblue;
      border-bottom:solid 2px antiquewhite;
      border-right:solid 2px antiquewhite;
      border-radius:0px 6px 6px 0px;
      line-height:125%;
      width:15%;
      font-family:'Mukta', sans-serif;
      color:black;
      font-size:20px;
      margin:10px auto 10px auto;
      background-color:antiquewhite;
      transform-origin:top left;
      transition:all 250ms;
    }
    div.skew:hover {
      transform:rotate(-2deg);
      filter:drop-shadow(6px 6px 2px lightgray);
      color:#4b67cc;
      background-color:#73c9ff;
    }
    div.skew:active {
      color:#91e3e3;
      background-color:darkslateblue;
      filter:drop-shadow(12px 12px 2px lightgray);
      transform:translate(0px, -4px), rotate(-2deg);
      transition:all 250ms;
    }
    .left {
        position:relative;
        top:30px;
        left:-350px;
    }
  .window {
    background-position:center;
    background-attachment:fixed;
    background-size:1920px 1080px;
    filter:brightness(80%) blur(2px);
    transition:filter 750ms;
  }
  .window:hover {
    filter:brightness(90%) blur(0px);
  }
  .pl_upward {
    background-image:url(https://wither19.github.io/landing/docs/assets/images/pl_upward.jpg);
  }
  .ctf_2fort {
    background-image:url(https://wither19.github.io/landing/docs/assets/images/ctf_2fort.jpg);
  }
  .cp_process {
    background-image:url(https://wither19.github.io/landing/docs/assets/images/cp_process.jpg);
  }
a.windowlink {
  transform: none;
  filter: none;
}
