body {
background-image: linear-gradient(315deg, darkblue 8%, mediumpurple 35%, lavender 100%);
}
h1 {
  color:antiquewhite;
  font-family: 'Mukta', sans-serif;
  text-align:center;
  font-size:64px;
  transition:all 200ms;
}
h1:hover {
  transform:translate(0, -4px);
  filter:drop-shadow(7px 7px 2px gray);
}
h2 {
  color:antiquewhite;
  font-family: 'Mukta', sans-serif;
  text-align:center;
  font-size:48px;
  transition:all 200ms;
}
h2:hover {
  transform:translate(0, -4px);
  filter:drop-shadow(5px 5px 2px gray);
}
h3 {
color:antiquewhite;
  font-family: 'Mukta', sans-serif;
  text-align:center;
  font-size:38px;
  transition:all 200ms;
}
h3:hover {
  transform:translate(0, -4px);
  filter:drop-shadow(5px 5px 2px gray);
}
div {
  font-family: 'Sofia Sans', sans-serif;
  font-size:30px;
  color:antiquewhite;
  text-align:center;
}
a {
  font-family: 'Sofia Sans', sans-serif;
  font-size:30px;
  color:blue;
  text-decoration:none;
  display:block;
  transition:all 200ms;
  font-weight:bolder;
}
a:hover {
  transform:translate(0, -4px);
          filter:drop-shadow(6px 6px 2px lightslategray);
  color:pink;
}
a:active {
  color:antiquewhite;
}
a.scripture {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
  color:inherit;
  transition:all 400ms;
}
a.scripture:hover {
  transform:translate(0px, -4px);
  filter:drop-shadow(6px 6px 2px lightgray);
  color:inherit;
  background-color:inherit;
}
iframe {
  transition:all 200ms;
}
iframe:hover {
  transform:translate(0, -8px);
  filter:drop-shadow(8px 8px 2px lightgray);
}
scripture {
            border-top:solid 2px antiquewhite;
            border-left:solid 4px lightskyblue;
            border-bottom:solid 2px antiquewhite;
            border-right:solid 2px antiquewhite;
            border-radius:0px 6px 6px 0px;
            font-family:'Times New Roman', Times, serif;
            font-size:24px;
            line-height:110%;
            margin:10px auto 10px auto;
            padding:5px;
            width:65%;
            text-align:center;
            color:black;
            background-color:antiquewhite;
            display:block;
            transition:all 400ms;
        }
scripture:hover {
            transform:translate(0px, -4px);
            filter:drop-shadow(6px 6px 2px lightgray);
            color:#E6E6FF;
              background-color:#98AFC7;
}
scripture:active {
  color:#80aeff;
  background-color:#dee5ed;
}
img {
  float:left;
  width:300px;
}
#tf2 {
  font-family:'TF2 Build', sans-serif;
}
