body {
  background-color: #0a0a23;
}

#text, #weapontext {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#weapontext {
  text-align: center;  
}

#game, #weaponStatus {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
  font-size: 32px;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}
#xpText {
    background-color: #56fe32;
    background-image: linear-gradient(#67ff7a 30%, #018516);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#healthText {
    background-color: #ff7c7c;
    background-image: linear-gradient(#ff7c7c 30%, #ff2c2c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#goldText {
  background-color: #feac32;
  background-image: linear-gradient(#ffd363 30%, #ff9700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
